# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - run: echo "${{ github.actor }}"
    - uses: actions/checkout@v2
    - name: setup
      uses: actions/setup-node@v2
      with:
        node-version: 12
        cache: 'yarn'
    - run: yarn install
    - name: test
    - run: yarn test
    - name: lint & build
    - run: yarn build
